.cardLink {
  text-decoration: none;
  color: hsla(0, 0, 50, 100%);
}

.cardWrapper {
  margin-bottom: -1px;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 2fr 6fr 2fr 2fr 2fr 2fr;
  align-items: center;
  width: 100%;
  padding: 20px;
  border: 1px solid hsla(0, 0, 90, 100%);
  font-size: 14px;
  cursor: pointer;
  font-size: 12px;

  &:hover {
    background-color: hsla(0, 0, 98, 100%);
  }
}

.cardTitle {
  font-size: 14px;
  width: 300px;
  text-align: start;
  padding-left: 30px;
}
