.hero {
  display: flex;
  height: calc(100vh - 200px);
  max-width: 1500px;
  margin: 0 auto;
}

.sectionLeft,
.sectionRight {
  justify-self: center;
  align-self: center;
  width: 40%;
  // position: relative;
}

.sectionLeft {
  padding: 54px;

  .heroHeader {
    font-size: 68px;
    // font-size: calc(3vw + 10px);
    font-weight: 900;
    color: hsla(209, 61, 43, 100%);

    span {
      font-size: 72px;
      // font-size: calc(3vw + 30px);
      color: hsla(43, 100, 44, 100%);
    }
  }
}

.sectionRight {
  width: 60%;
}
