.clients {
  max-width: 1500px;
  margin: 0 auto;
 }
 
 .clientsHeader {
   padding: 75px 0;
   font-size: 64px;
   font-weight: 900;
   color: hsla(209, 61, 43, 100%);
   text-align: right;
 }
 
 .clientsList {
   display: flex;
   flex-direction: column;
   list-style: none;

   li {
     width: 50%;
     align-self: flex-end;
    }
    
    li:nth-child(2) {
      align-self: flex-start;
      text-align: right;
   }
 }
 
 .clientsCherrio {
   padding-bottom: 40px;
 }