.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 600px;
  padding: 50px 50px;
  border-radius: 20px;
}

.freeCard {
  background-color: hsla(0, 0, 95, 100%);
}
.paidCard {
  background-color: hsla(209, 45, 55, 100%);
  color:hsla(0, 0, 100, 100%);
}

.cardHeader,
.cardPrice {
  font-weight: 900;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 42px;

  img {
    width: 60px;
    padding: 10px;
  }
}

.cardPrice {
  padding: 50px;
  line-height: 0.6;
  font-size: 64px;
  display: flex;
  justify-content: center;

  span {
    font-weight: 400;
    font-size: 24px;
  }
}

.requestReviewBtn {
  display: block;
  width: 300px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 30px;
  text-decoration: none;
  color: hsla(209, 45, 14, 100%);

  span {
    font-weight: 900;
  }
}

.requestReviewBtnFree {
  background-color:  hsla(0, 0, 100, 100%);;
  border: 1px solid  hsla(0, 0, 80, 100%);;
}

.requestReviewBtnPaid {
  background-color: hsla(6, 85, 73, 100%);
}

.cardLine {
  width: 240px;
  height: 1px;
  background-color: hsla(0, 0, 100, 100%);
}

.cardLineFree {
  width: 240px;
  height: 1px;
  background-color: hsla(6, 85, 73, 100%);
}
